*
    box-sizing: border-box
    margin: 0
    padding: 0

:root
    font-size: 16px

div#root
    width: 100%

body
    width: 100vw
    height: 100vh
    gap: 1rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

header, main
    width: 100%

header
    $height: 6rem
    height: $height
    padding: calc($height / 4)
    text-align: center

main
    $cell-size: 10rem
    flex: 1
    display: grid
    grid-template-columns: repeat(auto-fill, $cell-size)
    grid-auto-rows: $cell-size
    gap: 1rem
    justify-items: center
    align-items: center
    justify-content: center
    align-content: center

.key
    background: yellow
    width: 100%
    height: 100%
    padding: 0.5rem

.light
    $size: 1.5rem
    border-radius: 100%
    background: black
    border: 3px solid grey
    width: $size
    height: $size
    margin: auto

.light.on
    background: red
